.progressCircle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(103, 104, 106, 0.368);
  transition: background 0.1s linear;
}

.innerCircle {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: rgb(45, 46, 55);
}

.percentage {
  position: relative;
  font-size: 100px;
  color: rgba(234, 232, 232, 0.8);
}
