.uploadContainer {
  width: 425px;
  height: 125px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 10px; */
}

.hiddenInput {
  display: none;
}

.browseButton {
  background: rgb(124, 207, 121);
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background: rgb(68, 142, 65);
  }
}

.removeButton {
  background: rgb(249, 69, 69);
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background: rgb(203, 31, 31);
  }
}

.fileName {
  color: white;
  /* max-width: 175px; */
}

.fileBox {
  border: 1px solid #ccc;
  padding: 8px 12px;
  min-width: 200px;
  border-radius: 6px;
  background: white;
}
